<!-- Have the file uploaded locally and then read it -->
<div id="topDiv">
    <div id="dashboard" class="column">
        <p *ngIf="extensionError" id="errorMsg">Please upload a csv file</p>
        <p *ngIf="fileRead" id="infoMsg">File has been read</p>

        <button class="customButton" id="analyzeButton" (click)="loadChart()"
            [disabled]="extensionError || fileNotUploaded"
            [class.greyOut] = "extensionError || fileNotUploaded">Analyze</button>
        <label for="upload" class="customButton" id="uploadCSVButton">Upload CSV</label>
        <input id="upload" type="file" (change)="readFile($event.target.files)" style="visibility:hidden;">

        <div class="checkboxDiv">
            <label for="checkbox1">
                <input type="checkbox" (change)="checkSelected(checkbox[0].label)" [disabled]="extensionError || fileNotUploaded"
                    id="checkbox1" style="vertical-align: middle;">{{checkbox[0].label}}
            </label>
            <label for="checkbox2">
                <input type="checkbox" (change)="checkSelected(checkbox[1].label)" [disabled]="extensionError || fileNotUploaded"
                    id="checkbox2" style="vertical-align: middle;">{{checkbox[1].label}}
            </label>
        </div>
    </div>
    
    <div id="mapContainer">
        <div id="map">
            <img src="/assets/map-placeholder.png" alt="map-img" *ngIf="!mapLoads">
        </div>
        <canvas id="barChart"></canvas>
    </div>
</div>
