.uploadButton{
    font: bold 1.5rem Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 0.25rem;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
}
